ipywidgets==8.1.3
jupyterlab==4.2.4
tqdm==4.66.4
numpy==1.25.0
pandas==1.5.3
langchain==0.2.10
langchain-community==0.2.10
langchain-ollama==0.1.0
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
langchain-core==0.2.24
xmltodict==0.13.0
duckduckgo-search==6.2.3
transformers==4.43.1
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
streamlit==1.37.1
unstructured==0.15.1
nltk==3.9.1
